@import url('https://fonts.googleapis.com/css?family=Montserrat:500,400,700&display=swap');
@import url('https://eds-static.equinor.com/font/equinor-font.css');

body {
  font-family: 'Equinor', 'Montserrat',  sans-serif;
  margin: 0;
}

textarea, input {

  font-size: 1rem;
  text-overflow: ellipsis;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



select {
  margin: 0 !important
}

.del-margin {
  margin: 0 !important
}